body {
  font: 14px Helvetica;
  background: #999999;
  margin-top: 0px;
  border: 5px solid orange;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */
  flex-flow: row wrap;
}

header {
  width: 800px;
  order: 1;
}

#mainnavigation {
  background-color: lightgrey;
  order: 2;
}

#maincontent {
  background-color: red;
  order: 3;
}

#news {
  background-color: cyan;
  order: 4;
}

footer {
  order: 5;
}

header,
footer {
  background-color: black;
  color: white;
}

/* mobile layout: single colum, all items occupy the entire row, so wrap */
header,
#news,
#maincontent,
#mainnavigation,
footer {
  flex-basis: 100%;
}

/* Div boxes */
.boxes {
  border: dashed 2px;
  justify-content: space-around;
  margin: 5%;
  width: calc(100%-10%);

  display: flex;
  flex-flow: row wrap;
}

#group1 {
  border-color: purple;
  align-items: center;
}

.box {
  min-height: 40px;
  min-width: 40px;
  align-content: center;
  text-align: center;

  flex-basis: calc(60%/3);
}

#group1 .box:nth-child(1) {
  background-color: lightblue;
  order: 3;
}

#group1 .box:nth-child(2) {
  background-color: lightgreen;
}

#group1 .box:nth-child(3) {
  background-color: lightsalmon;
}

/* Responsive */
/* Small devices (tablets, 768px and up) */
/* container width: 750 */
@media (min-width: 768px) {
  body {
    width: 750px;
    background-color: red;
  }
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
  body {
    width: 970px;
    background-color: yellow;
  }

  /* article and nav will share the same row */
  #maincontent {
    flex-basis: 70%;
  }

  #mainnavigation {
    flex-basis: 30%;
  }
}

/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
  body {
    width: 1170px;
    background-color: green;
  }

  /* article, nav and aside will share the same row */
  #maincontent {
    flex-basis: 60%;
  }

  #mainnavigation,
  #news {
    flex-basis: 20%;
  }
}