body {
  border: 5px solid orange;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: black;
  color: white;
}

#mainnavigation {
  background-color: lightgrey;
  width: 240px;
  float: left;
}

#maincontent {
  width: 480px;
  background-color: red;
  float: left;
}

#news {
  background-color: cyan;
  width: 240px;
  float: left;
}

footer {
  background-color: black;
  color: white;
  clear: both;
}

/* Div boxes */
.boxes {
  border: dashed 2px;
  justify-content: space-around;
  margin: 5%;
  width: calc(100%-10%);
}

#group1 {
  border-color: purple;
}